:root {
  --mint: #9ee4d9;
  --red: #ee2700;
}

@font-face {
    font-family: 'poppinsthin';
    src: url('fonts/poppins-thin-webfont.eot');
    src: url('fonts/poppins-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-thin-webfont.woff2') format('woff2'),
         url('fonts/poppins-thin-webfont.woff') format('woff'),
         url('fonts/poppins-thin-webfont.ttf') format('truetype'),
         url('fonts/poppins-thin-webfont.svg#poppinsthin') format('svg');
    font-weight: normal;
    font-style: normal;
    /* unicode-range: U+0020-007F, U+0100-017F, U+010C; */
}

@font-face {
    font-family: 'poppinsextralight';
    src: url('fonts/poppins-extralight-webfont.eot');
    src: url('fonts/poppins-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-extralight-webfont.woff2') format('woff2'),
         url('fonts/poppins-extralight-webfont.woff') format('woff'),
         url('fonts/poppins-extralight-webfont.ttf') format('truetype'),
         url('fonts/poppins-extralight-webfont.svg#poppinsextralight') format('svg');
    font-weight: normal;
    font-style: normal;
    /* unicode-range: U+0020-007F, U+0100-017F, U+010C; */
}

@font-face {
    font-family: 'poppinslight';
    src: url('fonts/poppins-light-webfont.eot');
    src: url('fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-light-webfont.woff2') format('woff2'),
         url('fonts/poppins-light-webfont.woff') format('woff'),
         url('fonts/poppins-light-webfont.ttf') format('truetype'),
         url('fonts/poppins-light-webfont.svg#poppinslight') format('svg');
    font-weight: normal;
    font-style: normal;
    /* unicode-range: U+0020-007F, U+0100-017F, U+010C; */
}

@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.eot');
    src: url('fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/poppins-regular-webfont.woff') format('woff'),
         url('fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
    /* unicode-range: U+0020-007F, U+0100-017F, U+010C; */
}

/* @font-face {
    font-family: 'poppinssemibold';
    src: url('fonts/poppins-semibold-webfont.eot');
    src:  url('fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg'),
          url('fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/poppins-semibold-webfont.woff2') format('woff2'),
          url('fonts/poppins-semibold-webfont.ttf') format('truetype'),
          url('fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007F, U+0100-017F, U+010C;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppinsthin";
  scroll-behavior: smooth;
}

*,*:focus,*:hover{
    outline:none;
}

html {
  background-color: black;
}

.semi-bold{
  font-family: "poppinslight";
}

.bold{
  font-family: "poppinsregular";
}

a {
  font-family: "poppinsextralight";
}

#black {
  color: black;
}

html {
  font-size: 62.5%;
}

p, a{
  color: white;
}

p {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  margin: 1.02rem;
  font-size: 1.5rem;
}

a:hover,
.video-btn:hover {
  color: var(--red);
  text-decoration: line-through;
}

.bg {
  background-color: black;
  padding: 8%;
}

.bgwhite {
  background-color: white;
}

.bgmint {
  background-color: var(--mint);
}

.cover {
  width: 100%;
}

.yellow {
  color: #fab221;
  text-decoration: underline;
}

/* navbar */

.navbar {
  display: none;
}

.dropbtn {
  width: 40px;
  height: 40px;
  background-color: inherit;
  background-image: url("images/burger.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  z-index: 130;
  border: none;
  outline: none;
  margin: 1rem;
  margin-top: -50px;
}

.header {
  height: 60px;
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 120;
}

.navbar a {
  display: block;
  text-align: left;
}

.dropbtn[aria-expanded="true"] + .navbar {
    display: block;
    z-index: 120;
    background-color: black;
    width: 30%;
    min-width: 130px;
    position: fixed;
    margin: 0;
    padding-top: 95px;
    padding-left: 0.2rem;
    margin-top: -100px;
}

#lang-btn {
  display: inline-block;
}

#homebtn {
  display: block;
  margin: auto;
  width: 90px;
  margin-top: 0.5rem;
  z-index: 150;
}

#home-nav {
  display: block;
  margin: auto;
  width: 80px;
}

.button-buy {
  border-radius: 25px;
  border: 1.5px solid white;
  padding: 0.5rem 1.3rem 0.3rem 1.3rem;
  font-size: 1rem;
  width: 90px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.button-buy:hover {
  border-color: var(--red);
}

/* end of navbar */

.about {
  background-image: url("images/wolf-left.png"), url("images/wolf-right.png");
}

.contact {
  background-image: url("images/hand-left.png"), url("images/hand-right.png");
}

.about,
.contact {
  background-position: left 10%, right 13%;
  background-repeat: no-repeat;
  background-size: 20%;
}

/* about section */

.about-logo {
  width: 30%;
  margin-left: 35%;
}

.center{
  text-align: center;
  line-height:120%;
}

.about-name,
.contact-text,
.video-name {
  font-size: 3rem;
}

.about-text{
  width:90%;
  display: block;
  margin: auto;
  margin-top: 3rem;
}


.bookbtn {
  background-image: url("images/bookbtn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0.5rem 1.3rem 0.3rem 1.3rem;
  color: black;
  font-size: 1.5rem;
}


.bookbtn:hover{
  color: black;
  text-decoration: line-through;
}

.btn-center {
  margin-top: 3.2rem;
}

/* end of about section */

/* contact section */

.contact-icons {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
  margin-top: -2rem;
}

.ig {
  height: 45px;
}

.yt {
  height: 40px;
}

.fb {
  height: 50px;
  margin-top: -0.5rem;
}

.contact-icon {
  margin: 2.55rem;
}

.contact-text {
  margin-bottom: 2.4rem;
}

.sponsor-logos {
  width: 260px;
  flex-shrink: 0;
}

.contact-email {
  margin-bottom: 6rem;
}

.contact-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sponsor {
  height: 40px;
  width: auto;
  display: inline-block;
  margin: 1rem;
  align-items: center;
}

/* end of contact */

/* video section */

/* height reiks keist pagal picturz */
.video-btn {
  width: 42.5rem;
  height: 25.5rem;
  margin: 2%;
  border: none;
  outline: none;
  background-color: black;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filler {
  background-image: url("images/bird.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

/* end of video section */

/* index page home section */

video {
  position: absolute;
  width: 100%;
  z-index: -100;
  margin-top: -7rem;
}

.home {
  padding-top: 10rem;
}

@keyframes move {
  from {padding-top: 0;}
  to {padding-top: 1rem;}
}

.scroll-down {
  margin: auto;
  display: block;
  margin-top: 14rem;
  margin-bottom: 1rem;
  height: 60px;
  overflow-y: visible;
}

.scroll-down-img {
  margin: auto;
  display: block;
  width: 25px;
  height: 60px;
  animation: move 1s linear 0s infinite alternate;
}

/* end of home section */

/* video modal */

.modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  background-color: rgba(0,0,0,0.4);
  display: none;
  padding: auto;
}


.close {
  position: absolute;
  background: none;
  border: none;
  font-size: 3.4rem;
  color: var(--red);
  left: 7%;
  top: 13%;
}

.video-frame {
  position: absolute;
  margin-left: 20%;
  margin-top: 27%;
  width: 60%;
  height: 30%
}

/* end of modal */

#video-btn:hover,
.close:hover,
.playButton:hover,
.pauseButton:hover,
.buytrack-button:hover,
.dropbtn:hover {
  cursor: pointer;
}

/* audio player */

nav {
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.defaultBar {
  z-index: 5;
}

.progressBar {
  z-index: -1;
  margin-top: -2.6rem;
  position: absolute;
  overflow: hidden;
  width: 100px;
}

@-moz-document url-prefix() {
    .progressBar{
      margin-top: -2.3rem;
    }
}

.cleanbar,
.filledbar{
  height: 20px;
  width: auto;
}

.player-buttons {
  display: flex;
  justify-content: center;
}

.playButton,
.pauseButton {
  display: inline;
  background-color: inherit;
  border: none;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.playButton {
  background-image: url("images/playw.svg");
}

#homeplay {
  background-image: url("images/play.svg");
}

#homeplay:hover {
  background-image: url("images/playhover.svg");
}

#homepause {
  background-image: url("images/pause.svg");
}

#homepause:hover {
  background-image: url("images/pausehover.svg");
}

.pauseButton {
  background-image: url("images/pausew.svg");
}

.playButton:hover {
  background-image: url("images/playwhover.svg");
}

.pauseButton:hover {
  background-image: url("images/pausewhover.svg");
}

.playButton:active,
.pauseButton:active {
  position: relative;
  top: 2px;
}

.buytrack-button {
  display: inline;
  background-image: url("images/buysongw.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 35px;
  background-color: inherit;
  border: none;
  margin: 0.6rem;
  overflow-y: visible;
}

#btnblack {
  border-color: black;
  color: black;
  background-image: url("images/buysong.svg");
}

.buytrack-button:hover {
  background-image: url("images/buysongwhover.svg");
}

#btnblack:hover {
  background-image: url("images/buysonghover.svg");
}

.playButton, .pauseButton, .defaultBar {
  margin: 6px;
}

.song-name {
  margin-left: 90px;
  font-size: 1.5rem;
  color: white;
}

.subtext {
  font-size: 1.3rem;
}

#home-cover {
  margin-bottom: 3rem;
}

/* end of player */

@media only screen and (min-width: 500px) and (max-width: 800px) {
  /* For small screens */
  .close {
    left: 15%;
    top: 15%;
  }

  .playButton,
  .pauseButton,
  .cleanbar,
  .filledbar,
  .defaultBar,
  .progressBar,
  .buytrack-button {
    height: 35px;
  }

  .playButton,
  .pauseButton {
    width: 35px;
  }

  .buytrack-button {
    width: 60px;
  }

  .song-name {
    margin-left: 11rem;
  }

  .progressBar {
    margin-top: -4.1rem;
  }

  @-moz-document url-prefix() {
      .progressBar{
        margin-top: -3.8rem;
      }
  }

}

@media only screen and (min-width: 641px) and (max-width: 800px) {
/* For small screens */

  .scroll-down {
    margin-top: 22rem;
  }

  .video-frame {
    height: 60%;
    margin-top: 17%;
  }

  .song-name {
    margin-left: 15rem;
  }
}

@media only screen and (min-width: 801px){
  /* For medium to large screens */
  .dropbtn {
    display: none;
  }

  .navbar {
    z-index: 130;
    position: fixed;
    width: 100%;
    padding-top: 0.5rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
  }

  .navbar a {
    display: inline;
  }

  .header {
    margin-top: 0;
    padding-top: 1rem;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  .navbar div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #homebtn {
    pointer-events: none;
    position: fixed;
    align-self: center;
  }

  #home-nav {
    margin-top: -5px;
    opacity: 0;
    pointer-events: none;
  }

  #home-nav.active {
    opacity: 1;
    pointer-events: auto;
  }

  .btn-center {
    margin-top: 6rem;
  }

  .button-buy {
    border-radius: 25px;
    border: 1.5px solid white;
    padding: 0.5rem 1.3rem 0.3rem 1.3rem;
    font-size: 1.5rem;
    width: auto;
    margin: 0;
  }

  .playButton, .pauseButton {
    width: 40px;
    height: 40px;
  }

  .cleanbar,
  .filledbar {
    height: 40px;
  }

  .progressBar {
    margin-top: -4.6rem;
  }

  @-moz-document url-prefix() {
      .progressBar{
        margin-top: -4.3rem;
      }
  }

  .buytrack-button {
    height: 40px;
    width: 70px;
  }

  .song-name {
    margin-left: 25rem;
    font-size: 2rem;
  }

  .subtext {
    font-size: 1.5rem;
  }

  #home-cover {
    margin-bottom: 7rem;
  }

  .close {
    left: 18%;
    top: 18%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
/* For medium screens */

  .scroll-down {
    margin-top: 24rem;
  }

  .video-frame {
    height: 70%;
    margin-top: 17%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1007px) {
/* For medium screens */

  .scroll-down {
    margin-top: 28rem;
  }

  .video-frame {
    height: 70%;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 1008px) and (max-width: 1200px) {
  /* For large screens: */

  .scroll-down {
    margin-top: 33rem;
  }

  .about,
  .contact {
    background-position: left 20%, right 40%;
  }

  .about-text{
    width:50%;
  }

  .video-frame {
    height: 80%;
    margin-top: 7%;
  }

  .song-name {
    margin-left: 35rem;
  }
}

@media only screen and (min-width: 1201px) {
   /* For large screens: */

   .scroll-down {
     margin-top: 43rem;
   }

   .about,
   .contact {
     background-position: left 20%, right 40%;
   }

   .about-text{
     width:50%;
   }

  .video-frame {
    height: 80%;
    margin-top: 7%;
  }

  .song-name {
    margin-left: 35rem;
  }
}
