:root {
  --mint: #9ee4d9;
  --red: #ee2700;
}

@font-face {
    font-family: 'poppinsthin';
    src: url('fonts/poppins-thin-webfont.eot');
    src: url('fonts/poppins-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-thin-webfont.woff2') format('woff2'),
         url('fonts/poppins-thin-webfont.woff') format('woff'),
         url('fonts/poppins-thin-webfont.ttf') format('truetype'),
         url('fonts/poppins-thin-webfont.svg#poppinsthin') format('svg');
    font-weight: normal;
    font-style: normal;
    /* unicode-range: U+0020-007F, U+0100-017F, U+010C; */
}

@font-face {
    font-family: 'poppinsextralight';
    src: url('fonts/poppins-extralight-webfont.eot');
    src: url('fonts/poppins-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-extralight-webfont.woff2') format('woff2'),
         url('fonts/poppins-extralight-webfont.woff') format('woff'),
         url('fonts/poppins-extralight-webfont.ttf') format('truetype'),
         url('fonts/poppins-extralight-webfont.svg#poppinsextralight') format('svg');
    font-weight: normal;
    font-style: normal;
    /* unicode-range: U+0020-007F, U+0100-017F, U+010C; */
}

@font-face {
    font-family: 'poppinslight';
    src: url('fonts/poppins-light-webfont.eot');
    src: url('fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-light-webfont.woff2') format('woff2'),
         url('fonts/poppins-light-webfont.woff') format('woff'),
         url('fonts/poppins-light-webfont.ttf') format('truetype'),
         url('fonts/poppins-light-webfont.svg#poppinslight') format('svg');
    font-weight: normal;
    font-style: normal;
    /* unicode-range: U+0020-007F, U+0100-017F, U+010C; */
}

@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.eot');
    src: url('fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/poppins-regular-webfont.woff') format('woff'),
         url('fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
    /* unicode-range: U+0020-007F, U+0100-017F, U+010C; */
}

/* @font-face {
    font-family: 'poppinssemibold';
    src: url('fonts/poppins-semibold-webfont.eot');
    src:  url('fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg'),
          url('fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/poppins-semibold-webfont.woff2') format('woff2'),
          url('fonts/poppins-semibold-webfont.ttf') format('truetype'),
          url('fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007F, U+0100-017F, U+010C;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppinsthin";
  scroll-behavior: smooth;
}

html {
  background-color: black;
}

.semi-bold{
  font-family: "poppinslight";
}

.bold{
  font-family: "poppinsregular";
}

a {
  font-family: "poppinsextralight";
}

#black {
  color: black;
}

html {
  font-size: 62.5%;
}

p, a{
  color: white;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  /* margin: 1%; */
  margin: 1.02rem;
}

a:hover,
.video-btn:hover {
  color: var(--red);
  text-decoration: line-through;
}

.bg {
  background-color: black;
  padding: 8%;
}

.bgwhite {
  background-color: white;
}

.bgmint {
  background-color: var(--mint);
}

.navbar {
  display: none;
}

.dropbtn {
  width: 40px;
  height: 40px;
  background-color: inherit;
  background-image: url("images/burger.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  z-index: 130;
  border: none;
  outline: none;
  margin: 1rem;
}

#home-nav {
  display: none;
}

.navbar a {
  display: block;
  text-align: left;
}

.dropbtn[aria-expanded="true"] + .navbar {
    display: block;
    z-index: 120;
    background-color: black;
    width: 30%;
    position: fixed;
    margin: 0;
    padding-top: 50px;
}

.about {
  background-image: url("images/wolf-left.png"), url("images/wolf-right.png");
  /* background-position: left 20%, right 50%;
  background-repeat: no-repeat;
  background-size: 20%; */
}

.contact {
  background-image: url("images/hand-left.png"), url("images/hand-right.png");
}

.about,
.contact {
  background-position: left 10%, right 13%;
  background-repeat: no-repeat;
  background-size: 20%;
}

.about-logo {
  width: 30%;
  margin-left: 35%;
}

.center{
  text-align: center;
  line-height:120%;
}

.about-name,
.contact-text,
.video-name {
  font-size: 3rem;
}

/* reik kad wrapintusi evenly */
/* .about-text {
  padding-top: 5%;
} */

.about-text{
  width:90%;
  display: block;
  margin: auto;
  margin-top: 3rem;
}

.button,
.buytrack-button {
  border-radius: 11.9px;
  padding: 0.5rem 1.3rem 0.3rem 1.3rem;
  color: black;
  font-size: 2.38rem;
}

.button {
  border: 1.5px solid var(--red);
  background-color: var(--red);
}

.button:hover{
  color: black;
  text-decoration: line-through;
}

.btn-center {
  margin-top: 10.2rem;
}

.cover {
  width: 100%;
}

.yellow {
  color: #fab221;
  text-decoration: underline;
}

.contact-icons {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.contact-icon {
  margin: 2.55rem;
}

.contact-text {
  margin-bottom: 3.4rem;
}

.sponsor-logos {
  display: block;
  margin: auto;
  width: 260px;
}

.contact-email {
  margin-bottom: 6rem;
}

.sponsor {
  height: 40px;
  width: auto;
  display: inline-flex;
  margin: 1rem;
}

/* height reiks keist pagal picturz */
.video-btn {
  width: 42.5rem;
  height: 25.5rem;
  margin: 2%;
  /* display: inline-block;
  vertical-align: top; */
  border: none;
  outline: none;
  background-color: black;
}

.video-container {
  /* width: 80%;
  margin-left: 10%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filler {
  background-image: url("images/bird.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

video {
  position: absolute;
  width: 100%;
  z-index: -100;
}

/* .home {
  height: 265px;
} */

/* @keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes grow {
  from {width: 20%;}
  to {width: 30%;}
} */


.home-name {
  /* opacity: 0; */
  font-size: 3rem;
  z-index: 10;
  position: relative;
  margin-top: -15%;
  /* animation: appear 4s linear 7s 2 alternate forwards; */
}

.home-logo {
  width: 30%;
  z-index: 15;
  display: block;
  margin: auto;
  padding-top: 15%;
  /* animation: appear 3s linear 0s 2 alternate forwards, grow 6s linear 0s; */
}

.scroll-down {
  /* opacity: 0; */
  margin: auto;
  display: block;
  margin-top: 8rem;
  margin-bottom: 1rem;
}

.modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  background-color: rgba(0,0,0,0.4);
  display: none;
  padding: auto;
}


.close {
  position: absolute;
  background: none;
  border: none;
  font-size: 3.4rem;
  color: var(--red);
  left: 7%;
  top: 18%;
}

.video-frame {
  position: absolute;
  margin-left: 10%;
  margin-top: 27%;
  width: 80%;
  height: 40%
}

.video-btn:hover,
.close:hover,
.playButton:hover,
.pauseButton:hover,
.buytrack-button:hover,
.dropbtn:hover {
  cursor: pointer;
}

/* audio player */

nav {
  width: 413px;
  /* margin-left: 15%; */
  display: block;
  margin: auto;
}

.defaultBar {
  position: absolute;
  display: inline-block;
  z-index: 5;
}

.progressBar {
  z-index: -1;
  margin-top: -33px;
  position: absolute;
  overflow: hidden;
  width: 0px;
}

/* .player-buttons {
  display: block;
  margin: auto;
} */

.cleanbar,
.filledbar {
  height: 27px;
  width: 256px;
}

.playButton,
.pauseButton {
  background-color: inherit;
  border: none;
  height: 27px;
  width: 27px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.playButton {
  background-image: url("images/playw.png");
}

#homeplay {
  background-image: url("images/play.png");
}

#homeplay:hover {
  background-image: url("images/playhover.png");
}

#homepause {
  background-image: url("images/pause.png");
}

#homepause:hover {
  background-image: url("images/pausehover.png");
}

.pauseButton {
  background-image: url("images/pausew.png");
}

.playButton:hover {
  background-image: url("images/playwhover.png");
}

.pauseButton:hover {
  background-image: url("images/pausewhover.png");
}

.playButton:active,
.pauseButton:active {
  position: relative;
  top: 2px;
}

.buytrack-button {
  border: 1.9px solid white;
  position: absolute;
  background-color: inherit;
  margin-left: 275px;
  margin-top: 4px;
  font-size: 1.2rem;
  color: white;
}

#btnblack {
  border-color: black;
  color: black;
}

.buytrack-button:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}

#btnblack:hover {
  color: var(--mint);
  background-color: black;
}

.playButton, .pauseButton, .defaultBar {
  margin: 6px;
}

.song-name {
  margin-left: 90px;
  font-size: 1.8rem;
  color: white;
}

.subtext {
  font-size: 1.6rem;
}

/* #song-container {
  margin-top: 5%;
} */

/* end of player */

@media only screen and (min-width: 641px) and (max-width: 800px) {

  .home-name {
    font-size: 4rem;
  }

  .scroll-down {
    margin-top: 12rem;
  }

  .video-frame {
    height: 60%;
    margin-top: 17%;
  }
}

@media only screen and (min-width: 801px){
  .dropbtn {
    display: none;
  }

  .navbar {
    z-index: 130;
    position: fixed;
    width: 100%;
    padding-top: 0.5rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
  }

  .navbar a {
    display: inline;
  }

  #home-mobile {
    display: none;
  }

  /* #home-nav {
    margin-top: -5px;
    display: inline;
    opacity: 0;
    pointer-events: none;
    width: 80px;
  } */

  .header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
  }

  .navbar div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #homebtn {
    /* margin-top: 15px; */
    width: 90px;
    margin: auto;
    pointer-events: none;
    position: fixed;
    z-index: 150;
    align-self: center;
    /* align-self: flex-end; */
  }

  #home-nav {
    /* margin-top: 15px; */
    display: block;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    width: 80px;
  }

  #home-nav.active {
    opacity: 1;
    pointer-events: auto;
  }

  .button-buy {
    border-radius: 25px;
    border: 1.5px solid white;
    padding: 0.5rem 1.3rem 0.3rem 1.3rem;
  }

  .button-buy:hover {
    border-color: var(--red);
  }

  nav {
    width: 750px;
  }

  .playButton, .pauseButton {
    width: 50px;
    height: 50px;
  }

  .cleanbar,
  .filledbar {
    height: 50px;
    width: 474px;
  }

  .progressBar {
    margin-top: -56px;
  }

  .buytrack-button {
    border: 2.9px solid white;
    margin-left: 520px;
    margin-top: 5px;
    font-size: 2.38rem;
  }

  #btnblack {
    border-color:black;
  }

  .song-name {
    margin-left: 135px;
    font-size: 2.5rem;
  }

  .subtext {
    font-size: 2.3rem;
  }
}

@media only screen and (min-width: 801px) and (max-width: 900px) {

  .home-name {
    font-size: 5rem;
  }

  .scroll-down {
    margin-top: 16rem;
  }

  .video-frame {
    height: 70%;
    margin-top: 17%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1007px) {

  .home-name {
    font-size: 5.7rem;
  }

  .scroll-down {
    margin-top: 16rem;
  }

  .video-frame {
    height: 70%;
    margin-top: 10%;
  }

  .close {
    top: 10%;
  }
}

@media only screen and (min-width: 1008px) and (max-width: 1200px) {
  /* For large screens: */

  .home-name {
    font-size: 6.5rem;
  }

  .scroll-down {
    margin-top: 21rem;
  }

  .about,
  .contact {
    background-position: left 20%, right 40%;
  }

  .about-text{
    width:50%;
  }

  .video-frame {
    height: 80%;
    margin-top: 7%;
  }

  .close {
    top: 9%;
  }

  /* .navbar {
    padding-top: 0;
  }

  .navbar div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #home-nav {
    margin-top: 10px;
  } */
}

@media only screen and (min-width: 1201px) {
   /* For large screens: */

   .home-name {
     font-size: 7.5rem;
   }

   .scroll-down {
     margin-top: 27rem;
   }

   .about,
   .contact {
     background-position: left 20%, right 40%;
   }

   .about-text{
     width:50%;
   }

  .video-frame {
    height: 80%;
    margin-top: 7%;
  }

  .close {
    top: 9%;
  }

  /* .navbar {
    padding-top: 0;
  }

  .navbar div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #home-nav {
    margin-top: 10px;
  } */
}
