<!DOCTYPE html>

<html lang="en">

    <head>

        <link href="../static/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>

      <div id="modal"class="modal-bg">
        <button id="close"class="close">x</button>
          <iframe class="video-frame" src="" id="video" allowscriptaccess="always"
          allow="autoplay" frameborder="0" allow="accelerometer; clipboard-write;
          encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <a id="scrolltotop"><img src="../static/images/homebtn.png"></a>

      <div id = "navbar" class = "navbar">
        <div class = "navbar-left">
          <a href="#videos">SEE</a>
          <a href="#song-container">LISTEN</a>
          <a href="/umiko">UMIKO</a>
          <a href="/kotori">KOTORI</a>
        </div>
        <div class = "navbar-right">
          <a href="#contact">LET'S TALK</a>
          <a class="button-buy" href="/">BUY SOUNDS</a>
          <a href="/lt">LT</a>
          <a href="/en">EN</a>
        </div>
        </div>

        <div class = "home">
          {% block home %}
          {% endblock %}
        </div>

        <section id="videos" class = "bg bgwhite">
          {% block video %}
          {% endblock %}
        </section>

        <div class = "bg about">
          {% block about %}
          {% endblock %}
        </div>

        <div class = "bg bgmint">
          {% block music %}
          {% endblock %}
        </div>

        <section id = "contact" class = "bg contact">
          <p class="semi-bold center contact-text">WANT TO<br>FOLLOW?</p>
          <div class = "contact-icons">
            <a class = "contact-icon" href="https://instagram.com"><img src="../static/images/ig.png"></a>
            <a class = "contact-icon" href="https://facebook.com"><img src="../static/images/fb.png"></a>
            <a class = "contact-icon" href="https://youtube.com"><img src="../static/images/yt.png"></a>
          </div>
          <p class="semi-bold center contact-text">WANT EAR<br>MAGIC?</p>
          <p class="semi-bold center">BOOK THE EXPERIENCE:<a class="yellow" href="/">umikokotori@gmail.com</a></p>
        </section>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
  <html>
