<!DOCTYPE html>

<html lang="en">

    <head>

        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link href="../static/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>
      <div id="modal"class="modal-bg">
        <button id="close"class="close">x</button>
          <iframe class="video-frame" src="" id="video" allowscriptaccess="always"
          allow="autoplay" frameborder="0" allow="accelerometer; clipboard-write;
          encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="header">
        <a id="homebtn" href="/"><img id="home-nav" src="../static/images/logo.png"></a>

      <button class="dropbtn" id="dropbtn" aria-expanded="false"></button>
      <div id = "navbar" class = "navbar">
        <div>
          <a href="/" id="home-mobile">HOME</a>
          <a href="#videos">SEE</a>
          <a href="#song-container">LISTEN</a>
          {% block uk %}
          {% endblock %}
        </div>
        <!-- <div>
          <a href="/"><img id="home-nav" src="../static/images/logo.png"></a>
        </div> -->
        <div>
          <a href="#contact">LET'S TALK</a>
          <a class="button-buy" href="/">BUY SOUNDS</a>
          {% block lang %}
          {% endblock %}
        </div>
        </div>
</div>

        {% block main %}
        {% endblock %}

        <section id = "contact" class = "bg contact">
          <p class="semi-bold center contact-text">WANT TO<br>FOLLOW?</p>
          <div class = "contact-icons">
            <a class = "contact-icon" href="https://instagram.com"><img src="../static/images/ig.png"></a>
            <a class = "contact-icon" href="https://facebook.com"><img src="../static/images/fb.png"></a>
            <a class = "contact-icon" href="https://youtube.com"><img src="../static/images/yt.png"></a>
          </div>
          <p class="semi-bold center contact-text">WANT EAR<br>MAGIC?</p>
          <p class="semi-bold center contact-email">BOOK THE EXPERIENCE:<a class="yellow" href="/">umikokotori@gmail.com</a></p>
          <p class="center">SPONSORS:</p>
          <div class="sponsor-logos">
            <img class="sponsor" src="../static/images/agata.png">
            <img class="sponsor" src="../static/images/ltk_lt.png">
          </div>
        </section>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
  <html>
