<!DOCTYPE html>

<html lang="en">

    <head>

        <link href="../static/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- {% block style %}{% endblock %} -->
        <!-- <title>Into Nowhere Without The No</title> -->

    </head>
    <body>

      <div id="modal"class="modal-bg">
        <button id="close"class="close">x</button>
        <!-- <div class="modal-window"> -->
          <!-- <button id="close"class="close">x</button> -->
          <!-- <p>ALIOOOOO BLET</p> -->
          <!-- width="560" height="315" -->
          <iframe class="video-frame" src="" id="video" allowscriptaccess="always"
          allow="autoplay" frameborder="0" allow="accelerometer; clipboard-write;
          encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- </div> -->
      </div>

      <div class = "navbar">
        <div class = "navbar-left">
          <a href="/video">SEE</a>
          <a href="/music">LISTEN</a>
          <a href="/umiko">UMIKO</a>
          <a href="/kotori">KOTORI</a>
        </div>
        <div class = "navbar-right">
          <a href="/contact">LET'S TALK</a>
          <a class="button-buy" href="/">BUY SOUNDS</a>
          <a href="/lt">LT</a>
          <a href="/en">EN</a>
        </div>
        </div>
        <div class = "home">
          <video poster="../static/images/video-poster.png"
          id="bgvid" playsinline autoplay loop>
              <!-- <source src="../static/video/TEST.mp4" type="video/mp4">
              <source src="../static/video/TEST.webm" type="video/webm"> -->
          </video>
          <img class="home-logo" src="../static/images/logo.png">
          <p class="center home-name">IN THE NOWHERE WITHOUT THE NO</p>
          <img class="scroll-down" src="../static/images/scroll-down.png">
        </div>

        <div class = "bg bgwhite">
          <div class = "video-container">
            <button class = "bg video-btn" id="video-btn" data-toggle="modal"
            data-src="https://www.youtube.com/embed/opj8IHkD97Q" data-target="#video-modal">
              <p class = "center video-name">LAZY<br>LOOSY<br>LADY</p>
            </button>
            <button class = "bg video-btn" id="video-btn" data-toggle="modal"
            data-src="https://www.youtube.com/embed/sSqOZxR-HI4" data-target="#video-modal">
              <p class = "center video-name two-lines">BORN &<br>DYING</p>
            </button>
            <button class = "bg video-btn" id="video-btn" data-toggle="modal"
            data-src="https://www.youtube.com/embed/YgSPaXgAdzE" data-target="#video-modal">
              <p class = "center video-name two-lines">SOAK &<br>SMOKE</p>
            </button>
            <button class = "bg video-btn" id="video-btn" data-toggle="modal"
            data-src="https://www.youtube.com/embed/opj8IHkD97Q" data-target="#video-modal">
              <p class = "center video-name two-lines">IN<br>POCKET</p>
            </button>
            <button class = "bg video-btn" id="video-btn" data-toggle="modal"
            data-src="https://www.youtube.com/embed/opj8IHkD97Q" data-target="#video-modal">
              <p class = "center video-name">MR.<br>FANTAS-<br>TIQUE</p>
            </button>
            <div class = "video-btn filler"></div>
          </div>
        </div>
        <div class = "bg about">
          <img class = "about-logo" src="../static/images/logo.png">
          <p class="about-name semi-bold center">IN THE<br>
            NOWHERE<br>
            WITHOUT<br>
            THE NO</p>
          <p class = "about-text center">
            Audio visual album<br><br>
            <span class="semi-bold">I am running like animal with a memory.<br>
            But no memories.<br>
            In the nowhere without the no.</span><br><br>
            While man always has the world before him - always only stands<br>
            "facing opposite" & never enters "pure space" of the outside - the<br>
            animal instead moves in the open "in a nowhere without the no"<br><br>
            This album is about desire to expand inner nature, who is dancing<br>
            as life itself. About animality of the inside, the instinct, the feel of<br>
            what comes from within. About the company of two wolfs  who i<br>
            teach to howl harmonically on my own funeral. About holding the<br>
            mirror & trying to see who are you not, trying to grasp, <span class="semi-bold">how much<br>
            of the man in the monkey there are</span>. But you excluded your self<br>
            from the nature to recognize your self, and became a <span class="semi-bold">"Resembling<br>
            man"</span> who must recognize him self in a non man in order to be a<br>
            human. Homo as the animal it is only if it recognizes that it is not.<br>
            Homo is constitutively nonhuman, he can receive all natures and<br>
            all faces<br><br>
            <span class="semi-bold">I am Animal I meet in boredom.</span><br>
            It is the desire of happiness left in its pure state. The process of life<br>
            & death is so fantastic, that I live like we never going to die, & i am<br>
            already.  How one should play in the now is a question for me, not<br>
            for the sea...  Fearless is needed, not the brave, not the coward.<br>
            Fearless is needed to see that one does not know. That he is too<br>
            running in the nowhere... is it without the no?</p>
          <div class="btn-center center"><a href="/" class = "button bold"> BOOK UMIKO KOTORI</a>
          </div>
        </div>
        <div class = "bg bgmint">
          <img src="../static/images/cover.png" class="cover">

          <!-- PLEJERIS -->
          <div id="song-container">

            <nav>
              <audio class="track">
                <source src="../static/audio/lazyloosylady.ogg" type="audio/ogg" />
                <source src="../static/audio/lazyloosylady.mp3" type="audio/mpeg" />
              Your browser does not support the audio element.
              </audio>
              <span class="bold song-name">Lazy Loosy Lady</span>
              <div>
                <button type="button" class="playButton"></button>
                <button type="button" class="pauseButton"></button>
                <div class="defaultBar">
                  <image src="../static/images/mask.png">
                  <div class="progressBar">
                    <image src="../static/images/fill.png">
                  </div>
                </div>
                <button type="button" class="buybutton bold">BUY</button>
              </div>
            </nav>

            <nav>
              <audio class="track">
                <source src="../static/audio/beatingselfwithi.ogg" type="audio/ogg" />
                <source src="../static/audio/beatingselfwithi.mp3" type="audio/mpeg" />
              Your browser does not support the audio element.
              </audio>
              <span class="bold song-name">Beating Self With I</span>
              <div>
                <button type="button" class="playButton"></button>
                <button type="button" class="pauseButton"></button>
                <div class="defaultBar">
                  <image src="../static/images/mask.png">
                  <div class="progressBar">
                    <image src="../static/images/fill.png">
                  </div>
                </div>
                <button type="button" class="buybutton bold">BUY</button>
              </div>
            </nav>


            <nav>
              <audio class="track">
                <source src="../static/audio/bornanddying.ogg" type="audio/ogg" />
                <source src="../static/audio/bornanddying.mp3" type="audio/mpeg" />
              Your browser does not support the audio element.
              </audio>
              <span class="bold song-name">Born and Dying</span>
              <div>
                <button type="button" class="playButton"></button>
                <button type="button" class="pauseButton"></button>
                <div class="defaultBar">
                  <image src="../static/images/mask.png">
                  <div class="progressBar">
                    <image src="../static/images/fill.png">
                  </div>
                </div>
                <button type="button" class="buybutton bold">BUY</button>
              </div>
            </nav>

        </div><!-- / player -->


        </div>
        <div class = "bg contact">
          <p class="semi-bold center contact-text">WANT TO<br>FOLLOW?</p>
          <div class = "contact-icons">
            <a class = "contact-icon" href="instagram.com"><img src="../static/images/ig.png"></a>
            <a class = "contact-icon" href="facebook.com"><img src="../static/images/fb.png"></a>
            <a class = "contact-icon" href="youtube.com"><img src="../static/images/yt.png"></a>
          </div>
          <p class="semi-bold center contact-text">WANT EAR<br>MAGIC?</p>
          <p class="semi-bold center">BOOK THE EXPERIENCE:<a class="yellow" href="/">umikokotori@gmail.com</a></p>
        </div>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
  <html>
