{% extends "layout.html" %}

{% block title %}
    Umiko Kotori
{% endblock %}

{% block uk %}
<a href="/umiko/en">UMIKO</a>
<a href="/kotori/en">KOTORI</a>
{% endblock %}

{% block lang %}
<a id="lang-btn" href="/lt">LT</a>
<a id="lang-btn" href="/">EN</a>
{% endblock %}

{% block main %}
<div class="home">
  <video poster="../static/images/video-poster.png"
  id="bgvid" playsinline autoplay loop>
    <!-- <source src="../static/video/TEST.mp4" type="video/mp4">
    <source src="../static/video/TEST.webm" type="video/webm"> -->
  </video>
  <!-- <img class="home-logo" src="../static/images/logo.png">
  <p class="center home-name">IN THE NOWHERE WITHOUT THE NO</p> -->
  <div class="scroll-down">
    <img class="scroll-down-img" src="../static/images/scroll-down.svg">
  </div>
</div>

<section id="videos" class = "bg bgwhite">
<div class = "video-container">
  <button class = "video-btn" id="video-btn" data-toggle="modal"
  data-src="https://www.youtube.com/embed/opj8IHkD97Q" data-target="#video-modal">
    <p class = "center video-name">LAZY<br>LUCY<br>LADY</p>
  </button>
  <button class = "video-btn" id="video-btn" data-toggle="modal"
  data-src="https://www.youtube.com/embed/sSqOZxR-HI4" data-target="#video-modal">
    <p class = "center video-name two-lines">BORN &<br>DYING</p>
  </button>
  <button class = "video-btn" id="video-btn" data-toggle="modal"
  data-src="https://www.youtube.com/embed/YgSPaXgAdzE" data-target="#video-modal">
    <p class = "center video-name two-lines">SOAK &<br>SMOKE</p>
  </button>
  <button class = "video-btn" id="video-btn" data-toggle="modal"
  data-src="https://www.youtube.com/embed/opj8IHkD97Q" data-target="#video-modal">
    <p class = "center video-name">MRS.<br>FANTAS-<br>TIQUE</p>
  </button>
  <button class = "video-btn" id="video-btn" data-toggle="modal"
  data-src="https://www.youtube.com/embed/opj8IHkD97Q" data-target="#video-modal">
    <p class = "center video-name two-lines">HOMMIE</p>
  </button>
  <button class = "video-btn" id="video-btn" data-toggle="modal"
  data-src="https://www.youtube.com/embed/opj8IHkD97Q" data-target="#video-modal">
    <p class = "center video-name two-lines">EARLY<br>MAN</p>
  </button>
  <!-- <div class = "video-btn filler"></div> -->
</div>
</section>

<div class = "bg about">
<img class = "about-logo" src="../static/images/logo.png">
<p class="about-name semi-bold center">IN THE<br>
  NOWHERE<br>
  WITHOUT<br>
  THE NO</p>
<p class = "about-text center">
  Sea child with a small bird heart.<br>
  In Eternal play on the shore.<br><br>
  Audio visual album “In the nowhere without the no”<br><br>
  I am Animal I meet in boredom.<br>
  It is the desire of happiness left in its pure state.<br>
  The process of life and death is so fantastic,  I live as if never going to die,
  and i am already dying.<br><br>
  While man always has the world before him – always only stands “facing opposite”
  and never enters “pure space” of the outside – the animal instead moves in the
  open “in a nowhere without the no”<br>
  This album is about desire to expand inner nature, who is dancing as life it self.<br>
  About animality of the inside, the instinct, the feel of what comes from within.<br>
  About the company of two wolfs  who i teach to howl harmonically on my own funeral.<br>
  About holding the mirror and trying to see who are you not, trying to grasp, how much
  of the man in the monkey there are.<br><br>
<div class="btn-center center"><a href="#contact" class = "bookbtn bold"> BOOK UMIKO KOTORI</a>
</div>
</div>

<div class = "bg bgmint">
<img src="../static/images/ukcover.png" id="home-cover" class="cover">

<!-- PLEJERIS -->
<div id="song-container">

  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/beatingselfwithi.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/beatingselfwithi.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">Beating Self With I</span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button" id="btnblack"></button>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/lazylucylady.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/lazylucylady.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">Lazy Lucy Lady</span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button bold" id="btnblack"></button>
    </div>
  </nav>


  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/bornanddying.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/bornanddying.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">Born and Dying</span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button bold" id="btnblack"></button>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/earlyman.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/earlyman.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">Early Man</span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button bold" id="btnblack"></button>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/hommie.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/hommie.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">Hommie</span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button bold" id="btnblack"></button>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/mrsfantastique.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/mrsfantastique.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">Mrs. Fantastique</span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button bold" id="btnblack"></button>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/opportunitystrive.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/opportunitystrive.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">Opportunity Strive</span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button bold" id="btnblack"></button>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/inthepocket.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/inthepocket.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">In the Pocket</span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button bold" id="btnblack"></button>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/inevitable.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/inevitable.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">Inevitable</span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button bold" id="btnblack"></button>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/soakandsmoke.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/soakandsmoke.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">Soak and Smoke</span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button bold" id="btnblack"></button>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/holeinthebag.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/holeinthebag.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">Hole in the Bag<br>
      <span class="subtext song-name" id="black">(created with Daujotas)</span></span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button bold" id="btnblack"></button>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/inthenowhere/visata.ogg" type="audio/ogg" />
      <source src="../static/audio/inthenowhere/visata.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name" id="black">Visata tu</span>
    <div class="player-buttons">
      <button type="button" class="playButton" id="homeplay"></button>
      <button type="button" class="pauseButton" id="homepause"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask2.svg">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.svg">
        </div>
      </div>
      <button type="button" class="buytrack-button bold" id="btnblack"></button>
    </div>
  </nav>

</div><!-- / player -->
</div>
{% endblock %}
