{% extends "layout.html" %}

{% block title %}
    Umiko
{% endblock %}

{% block uk %}
<a href="/umiko/en">UMIKO</a>
<a href="/kotori/en">KOTORI</a>
{% endblock %}

{% block lang %}
<a href="/umiko/lt">LT</a>
<a href="/umiko/en">EN</a>
{% endblock %}

{% block main %}
<img src="../static/images/wavecover.jpg" class="cover">

<div class = "bg">
  <p class="about-name semi-bold center">UMIKO<br>WAVE<br>2012</p>
  <p class = "about-text center">How one should move,<br>
      how one should play in the now<br>
      is a question for us, not for the sea...<br><br>
      First solo album.</p>
</div>

<div class = "bg">
  <!-- PLEJERIS -->
  <div id="song-container">

    <nav>
      <audio class="track">
        <source src="../static/audio/umiko/wave/1.IT_IS.ogg" type="audio/ogg" />
        <source src="../static/audio/umiko/wave/1.IT_IS.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
      </audio>
      <span class="bold song-name">It is</span>
      <div>
        <button type="button" class="playButton"></button>
        <button type="button" class="pauseButton"></button>
        <div class="defaultBar">
          <image class="cleanbar" src="../static/images/mask.png">
          <div class="progressBar">
            <image class="filledbar" src="../static/images/fill.png">
          </div>
        </div>
        <a href="https://umikomusic.bandcamp.com/track/it-is" target="_blank"
        class="buytrack-button bold">BUY</a>
      </div>
    </nav>

    <nav>
      <audio class="track">
        <source src="../static/audio/umiko/wave/2.MY_WAY.ogg" type="audio/ogg" />
        <source src="../static/audio/umiko/wave/2.MY_WAY.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
      </audio>
      <span class="bold song-name">My Way</span>
      <div class="player-buttons">
        <button type="button" class="playButton"></button>
        <button type="button" class="pauseButton"></button>
        <div class="defaultBar">
          <image class="cleanbar"src="../static/images/mask.png">
          <div class="progressBar">
            <image class="filledbar"src="../static/images/fill.png">
          </div>
        </div>
        <a href="https://umikomusic.bandcamp.com/track/my-way" target="_blank"
        class="buytrack-button bold">BUY</a>
      </div>
    </nav>


    <nav>
      <audio class="track">
        <source src="../static/audio/umiko/wave/3.PLAY.ogg" type="audio/ogg" />
        <source src="../static/audio/umiko/wave/3.PLAY.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
      </audio>
      <span class="bold song-name">Play</span>
      <div>
        <button type="button" class="playButton"></button>
        <button type="button" class="pauseButton"></button>
        <div class="defaultBar">
          <image class="cleanbar" src="../static/images/mask.png">
          <div class="progressBar">
            <image class="filledbar" src="../static/images/fill.png">
          </div>
        </div>
        <a href="https://umikomusic.bandcamp.com/track/play" target="_blank"
        class="buytrack-button bold">BUY</a>
      </div>
    </nav>

    <nav>
      <audio class="track">
        <source src="../static/audio/umiko/wave/4.STILL.ogg" type="audio/ogg" />
        <source src="../static/audio/umiko/wave/4.STILL.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
      </audio>
      <span class="bold song-name">Still</span>
      <div>
        <button type="button" class="playButton"></button>
        <button type="button" class="pauseButton"></button>
        <div class="defaultBar">
          <image class="cleanbar" src="../static/images/mask.png">
          <div class="progressBar">
            <image class="filledbar" src="../static/images/fill.png">
          </div>
        </div>
        <a href="https://umikomusic.bandcamp.com/track/still" target="_blank"
        class="buytrack-button bold">BUY</a>
      </div>
    </nav>

    <nav>
      <audio class="track">
        <source src="../static/audio/umiko/wave/5.DANCE.ogg" type="audio/ogg" />
        <source src="../static/audio/umiko/wave/5.DANCE.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
      </audio>
      <span class="bold song-name">Dance</span>
      <div>
        <button type="button" class="playButton"></button>
        <button type="button" class="pauseButton"></button>
        <div class="defaultBar">
          <image class="cleanbar" src="../static/images/mask.png">
          <div class="progressBar">
            <image class="filledbar" src="../static/images/fill.png">
          </div>
        </div>
        <a href="https://umikomusic.bandcamp.com/track/dance" target="_blank"
        class="buytrack-button bold">BUY</a>
      </div>
    </nav>

    <nav>
      <audio class="track">
        <source src="../static/audio/umiko/wave/6.DANGER_HIGH_VOLUME.ogg" type="audio/ogg" />
        <source src="../static/audio/umiko/wave/6.DANGER_HIGH_VOLUME.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
      </audio>
      <span class="bold song-name">Danger</span>
      <div>
        <button type="button" class="playButton"></button>
        <button type="button" class="pauseButton"></button>
        <div class="defaultBar">
          <image class="cleanbar" src="../static/images/mask.png">
          <div class="progressBar">
            <image class="filledbar" src="../static/images/fill.png">
          </div>
        </div>
        <a href="https://umikomusic.bandcamp.com/track/danger" target="_blank"
        class="buytrack-button bold">BUY</a>
      </div>
    </nav>

    <nav>
      <audio class="track">
        <source src="../static/audio/umiko/wave/7.APART.ogg" type="audio/ogg" />
        <source src="../static/audio/umiko/wave/7.APART.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
      </audio>
      <span class="bold song-name">Apart</span>
      <div>
        <button type="button" class="playButton"></button>
        <button type="button" class="pauseButton"></button>
        <div class="defaultBar">
          <image class="cleanbar" src="../static/images/mask.png">
          <div class="progressBar">
            <image class="filledbar" src="../static/images/fill.png">
          </div>
        </div>
        <a href="https://umikomusic.bandcamp.com/track/apart" target="_blank"
        class="buytrack-button bold">BUY</a>
      </div>
    </nav>

    <nav>
      <audio class="track">
        <source src="../static/audio/umiko/wave/8.WIND_SPIRIT.ogg" type="audio/ogg" />
        <source src="../static/audio/umiko/wave/8.WIND_SPIRIT.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
      </audio>
      <span class="bold song-name">Wind Spirit</span>
      <div>
        <button type="button" class="playButton"></button>
        <button type="button" class="pauseButton"></button>
        <div class="defaultBar">
          <image class="cleanbar" src="../static/images/mask.png">
          <div class="progressBar">
            <image class="filledbar" src="../static/images/fill.png">
          </div>
        </div>
        <a href="https://umikomusic.bandcamp.com/track/wind-spirit" target="_blank"
        class="buytrack-button bold">BUY</a>
      </div>
    </nav>

  </div>
</div>

<img src="../static/images/aftermathcover.png" class="cover">

<div class = "bg">
  <p class="about-name semi-bold center">UMIKO<br>AFTERMATH<br>2017</p>
  <p class = "about-text center">Vytautas Narkevičius - Synths, programming<br>
      Paulius Vaškas - guitar<br>
      Mantas Augustaitis - drums<br>
      Elena Neniškytė (UMIKO/KOTORI) - bass, vocals,fx<br><br>
      Mixing - Andrius Kačanovas<br>
      Mastering - Denis Teluchin<br><br>
      Recorded in Big Jellys studio, England<br><br>
      <a href="https://youtu.be/t37Nu_ngEvw" target="_blank">Live at Arts Printing House</a>
      <a href="https://youtu.be/VMepKaURCuk" target="_blank">Live at LRT Opus</a></p>
</div>

<div class = "bg">
<!-- PLEJERIS -->
<div id="song-container">

  <nav>
    <audio class="track">
      <source src="../static/audio/umiko/aftermath/1.NEED.ogg" type="audio/ogg" />
      <source src="../static/audio/umiko/aftermath/1.NEED.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name">Need</span>
    <div>
      <button type="button" class="playButton"></button>
      <button type="button" class="pauseButton"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask.png">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.png">
        </div>
      </div>
      <a href="https://umikomusic.bandcamp.com/track/need" target="_blank"
      class="buytrack-button bold">BUY</a>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/umiko/aftermath/2.GET_ME_OUT.ogg" type="audio/ogg" />
      <source src="../static/audio/umiko/aftermath/2.GET_ME_OUT.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name">Get Me Out</span>
    <div class="player-buttons">
      <button type="button" class="playButton"></button>
      <button type="button" class="pauseButton"></button>
      <div class="defaultBar">
        <image class="cleanbar"src="../static/images/mask.png">
        <div class="progressBar">
          <image class="filledbar"src="../static/images/fill.png">
        </div>
      </div>
      <a href="https://umikomusic.bandcamp.com/track/get-me-out" target="_blank"
      class="buytrack-button bold">BUY</a>
    </div>
  </nav>


  <nav>
    <audio class="track">
      <source src="../static/audio/umiko/aftermath/3.UK.ogg" type="audio/ogg" />
      <source src="../static/audio/umiko/aftermath/3.UK.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name">UK</span>
    <div>
      <button type="button" class="playButton"></button>
      <button type="button" class="pauseButton"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask.png">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.png">
        </div>
      </div>
      <a href="https://umikomusic.bandcamp.com/track/uk" target="_blank"
      class="buytrack-button bold">BUY</a>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/umiko/aftermath/4.LOST_ONES.ogg" type="audio/ogg" />
      <source src="../static/audio/umiko/aftermath/4.LOST_ONES.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name">Lost Ones</span>
    <div>
      <button type="button" class="playButton"></button>
      <button type="button" class="pauseButton"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask.png">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.png">
        </div>
      </div>
      <a href="https://umikomusic.bandcamp.com/track/lost-ones" target="_blank"
      class="buytrack-button bold">BUY</a>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/umiko/aftermath/5.LINE.ogg" type="audio/ogg" />
      <source src="../static/audio/umiko/aftermath/5.LINE.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name">Line</span>
    <div>
      <button type="button" class="playButton"></button>
      <button type="button" class="pauseButton"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask.png">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.png">
        </div>
      </div>
      <a href="https://umikomusic.bandcamp.com/track/line" target="_blank"
      class="buytrack-button bold">BUY</a>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/umiko/aftermath/6.IT_IS.ogg" type="audio/ogg" />
      <source src="../static/audio/umiko/aftermath/6.IT_IS.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name">It is</span>
    <div>
      <button type="button" class="playButton"></button>
      <button type="button" class="pauseButton"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask.png">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.png">
        </div>
      </div>
      <a href="https://umikomusic.bandcamp.com/track/it-is-2" target="_blank"
      class="buytrack-button bold">BUY</a>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/umiko/aftermath/7.MERMAID.ogg" type="audio/ogg" />
      <source src="../static/audio/umiko/aftermath/7.MERMAID.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name">Mermaid</span>
    <div>
      <button type="button" class="playButton"></button>
      <button type="button" class="pauseButton"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask.png">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.png">
        </div>
      </div>
      <a href="https://umikomusic.bandcamp.com/track/mermaid" target="_blank"
      class="buytrack-button bold">BUY</a>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/umiko/aftermath/8.CONFUCIUS.ogg" type="audio/ogg" />
      <source src="../static/audio/umiko/aftermath/8.CONFUCIUS.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name">Confucius</span>
    <div>
      <button type="button" class="playButton"></button>
      <button type="button" class="pauseButton"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask.png">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.png">
        </div>
      </div>
      <a href="https://umikomusic.bandcamp.com/track/confucius" target="_blank"
      class="buytrack-button bold">BUY</a>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/umiko/aftermath/9.HIFI_WOLF.ogg" type="audio/ogg" />
      <source src="../static/audio/umiko/aftermath/9.HIFI_WOLF.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name">Hi-Fi Wolf</span>
    <div>
      <button type="button" class="playButton"></button>
      <button type="button" class="pauseButton"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask.png">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.png">
        </div>
      </div>
      <a href="https://umikomusic.bandcamp.com/track/hi-fi-wolf" target="_blank"
      class="buytrack-button bold">BUY</a>
    </div>
  </nav>

  <nav>
    <audio class="track">
      <source src="../static/audio/umiko/aftermath/10.TRASH_TRACK.ogg" type="audio/ogg" />
      <source src="../static/audio/umiko/aftermath/10.TRASH_TRACK.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
    </audio>
    <span class="bold song-name">Trash Track</span>
    <div>
      <button type="button" class="playButton"></button>
      <button type="button" class="pauseButton"></button>
      <div class="defaultBar">
        <image class="cleanbar" src="../static/images/mask.png">
        <div class="progressBar">
          <image class="filledbar" src="../static/images/fill.png">
        </div>
      </div>
      <a href="https://umikomusic.bandcamp.com/track/trash-track" target="_blank"
      class="buytrack-button bold">BUY</a>
    </div>
  </nav>

</div><!-- / player -->
</div>

{% endblock %}
